<nav class="navbar">
    <div class="brand">
        <h2>Vehículo<span>Carga</span></h2>
    </div>
    <ul class="menu">        
        <li><a class="active" href="#">Página Principal</a></li>
        <li><a href="/views/panels.hbs">Panels</a></li>
        <li><a href="/views/trailers.hbs">Trailers</a></li>
    </ul>
</nav>